body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/about/oceanview.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-width: 100%;
    min-height: 100vh;
}


header {
    padding: 10px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    align-items: center;
}

h1 {
    color: #39FF14; 
}

h2 {
    color: #B15EFF; 
}

/* nav ul {
    list-style: none;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black; 
    padding: 5px 10px;
    display: flex;
    transition: color 0.3s ease-in-out;
    align-self: start;
    background-color: antiquewhite;
}

nav a:hover {
    color: #FF4500; 
} */

main {
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.form-section {
    color: #B15EFF; 
    padding: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

footer {
    color: #ffff;
    padding: 10px;
    text-align: center;
    animation: bounce 1s infinite alternate;
    text-decoration: underline;
    font-weight: bold;
    
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}
